#show{
    background-color: #fff;   
    
    #head{
        height: 100px;
        background-color: #0282F9;
        position: relative;
        margin-top: 0;
    }
    figure{
        position: relative;
        left: 40px;
        bottom: 325px
    }
}