* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

body {
  background-color: #1c1c1c;
}

.footer-top {
  background-image: url(../assets/img/footer-bg.jpg);
  height: 320px;
}
.footer-top .dc-big-logo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../assets/img/dc-logo-bg.png);
}
.footer-top .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

#main-links,
#main-links .shop {
  color: #fff;
  font-size: 16px;
}
#main-links h3,
#main-links .shop h3 {
  margin: 5px 0;
}

.dc-comics li,
.dc li,
.shop li,
.sites li {
  font-size: 12px;
  margin-top: 2px;
  color: #646464;
}

.sites,
.dc {
  padding-left: 30px;
  width: 155px;
}

.footer-bottom {
  background-color: #303030;
}

.container {
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.container span {
  border: 2px solid #0282F9;
  padding: 7px;
  color: #fff;
}

.social-references,
.social-links {
  align-items: center;
}
.social-references h3,
.social-links h3 {
  color: #0282F9;
}
.social-references ul li,
.social-links ul li {
  margin: 0 10px;
}

.bg {
  color: #fff;
}

.card-container {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card {
  flex-basis: 16.6666666667%;
  padding: 10px;
  height: 200px;
}
.card img {
  height: 125px;
  width: 125px;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  background-color: #fff;
  margin-top: 15px;
}
header .container {
  justify-content: space-between;
  align-items: center;
}
header .container img {
  padding: 15px 0;
  width: 80px;
}
header .active {
  border-bottom: 2px solid #0282F9;
  color: #0282F9;
}
header li {
  height: 35px;
  padding: 10px;
  font-size: 12px;
  color: #000;
}

#jumbotron {
  height: 400px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#show {
  background-color: #fff;
}
#show .head {
  height: 100px;
  background-color: #0282F9;
  position: relative;
  margin-top: 0;
}
#show .preview {
  position: relative;
  left: 40px;
  bottom: 325px;
  border: 1px solid #fff;
  width: 190px;
}
#show .preview span {
  background-color: #0282F9;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  padding: 4px;
}
#show .preview div {
  padding: 4px;
  background-color: #2391f8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#show #presentation {
  display: flex;
}
#show #presentation figure img {
  max-width: none;
}
#show #presentation h1 {
  text-transform: uppercase;
  font-size: 32px;
  color: blue;
}